@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1654405758970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\f00d6";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}

.icon-tuichu:before {
  content: "\e688";
}

.icon-icon_password:before {
  content: "\e614";
}

.icon-wenzhangliebiaoxiangqing:before {
  content: "\e665";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-jibenziliao:before {
  content: "\e606";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-lujing:before {
  content: "\e621";
}

.icon-wenzhangliebiao:before {
  content: "\e653";
}

